@model IEnumerable<Goods>
<link rel="stylesheet" href="~/css/orders.css" asp-append-version="true" />

<div class="cart-container">
    <h4 class="header-title">My Orders</h4>

    @if (Model != null && Model.Any())
    {
        @foreach (var order in Model)
        {
            if (order.GoodsStatusId != 7)
            {
                <div class="order-block">
                    <table class="cart-table">
                        <tr>
                            <th class="d-none d-sm-table-cell">Order Date</th>
                            <th>Order Status</th>
                        </tr>
                        <tr>
                            <td>@order.CreatedDate?.ToString("dd-MM-yyyy")</td>
                            <td>@order.GoodsStatus?.StatusName</td>
                        </tr>
                    </table>

                    @if (order.OrderDetails != null && order.OrderDetails.Any())
                    {
                        <table class="sub-table">
                            <tr>
                                <td>Total:</td>
                                <td>@order.OrderDetails.Sum(item => item.Asortimet?.Cost * item.Quantity)</td>
                            </tr>
                            <tr>
                                <th>Asortiment</th>
                                <th>Image</th>
                                <th>Category</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                            </tr>
                            @foreach (var item in order.OrderDetails)
                            {
                                <tr>
                                    <td>@item.Asortimet?.Name</td>
                                    <td>
                                        <img src="/pictures/@item.Asortimet?.Image" class="product-image" />
                                    </td>
                                    <td>@item.Asortimet?.Category?.NameCategory</td>
                                    <td>@item.Asortimet?.Cost X @item.Quantity</td>
                                    <td>@(item.Asortimet?.Cost * item.Quantity)</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            }
        }
    }
    else
    {
        <h2 class="empty-cart">No orders</h2>
    }
</div>
