@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}
<link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
<div class="cart-container order-block mt-2">
    @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
    {
        <div class="cart-table">
            <table>
                <thead>
                    <tr>
                        <th>Asortiment</th>
                        <th>Image</th>
                        <th>Category</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartDetails)
                    {
                        <tr>
                            <td>@item.Asortimet?.Name</td>
                            <td>
                                @if (item.Asortimet != null)
                                {
                                    <img src="/pictures/@item.Asortimet.Image" alt="Product Image" class="product-image" />
                                }
                                else
                                {
                                    <span class="no-image">No Image</span>
                                }
                            </td>
                            <td>@item.Asortimet?.Category.NameCategory</td>
                            <td>@item.Asortimet?.Cost</td>
                            <td>@(item.Asortimet?.Cost * item.Quantity)</td>
                            <td class="action-buttons">
                                <div class="d-flex justify-content-center align-items-center action-buttons">
                                    <a class="btn btn-lg btn-primary small-button" href="/ShoppingCart/AddItem?asortimentId=@item.AsortimentId&&redirect=1">+</a>
                                    <a class="btn btn-lg btn-primary small-button" href="/ShoppingCart/RemoveItem?asortimentId=@item.AsortimentId">-</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="total-section">
                <h2 class="total-title">Total: </h2>
                <div class="total-amount">
                    @(Model.CartDetails.Select(item => item.Asortimet.Cost * item.Quantity).Sum())
                </div>

                <div class="checkout-button">
                    <a class="navv-link" href="/ShoppingCart/Checkout">Checkout</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <h2 class="empty-cart">Cart is empty</h2>
    }
</div>
